/* Start Navbar */

.my-navbar{
    background-color: rgba(0,123,93,1);
}

.my-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.my-navbar.navbar-toggler {
    border-color: rgb(255,255,255);
}

.navbar-nav .nav-link{
    color: #fff !important;
    font-size: 15px;
    margin-left: 16px;
    font-weight: bold;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: rgba(0,123,93,1);
}

.navbar-expand-lg .navbar-nav .dropdown-menu > a.dropdown-item{
    color: #fff;
}

.navbar-expand-lg .navbar-nav .dropdown-menu > a.dropdown-item:hover{
    color: rgba(0,0,0,0.8) !important;
}

/* End Navbar */
